body{
    background-color: 	rgb(40,40,40);
}
h1{
    color: seashell;
}

#Intro-page{
color: seashell;
font-weight: 700;
font-size: x-large;
}

#Intro-pic:hover{
    transform: scale(1.1);
  }

  #Intro-words{
 color: seashell;
font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
  }