body{
    background-color: black;
}
h1{
    color: seashell;
}

#Intro-page{
color: seashell;
font-weight: 700;
font-size: x-large;
}

#Intro-pic:hover{
    transform: scale(1.1);
  }

  #Intro-words{
 color: seashell;
font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
  }
  
  .hawaiian{
    border-radius: 100px;
  }

  .veggies{
    border-radius: 30px;
  }

  .whole{
      background-image: url('../brown.jpg');
  }

  #hawaian-pic{
      color: seashell;
      font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
  }

  #vegeterian-image{
      color: seashell;
      font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
  }
  #chicken-image{
    color: seashell;
    font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
}
  