body{
    background-color: black;
}
h1{
    color: seashell;
}

#Intro-page{
color: seashell;
font-weight: 700;
font-size: x-large;
}

  #Intro-words{
 color: seashell;
font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
  }
  
  .hawaiian{
    border-radius: 100px;
  }

  .veggies{
    border-radius: 30px;
  }

  .whole{
      background-image: url('../brown.jpg');
  }

  #hawaian-pic{
      color: seashell;
      font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
  }

  #hawaian-pic:hover{
    transform: scale(1.1);

  }

  #vegeterian-image{
      color: seashell;
      font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
  }


  #vegeterian-image:hover{
    transform: scale(1.1);

  }


  #chicken-image{
    color: seashell;
    font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
}
  

#chicken-image:hover{
  transform: scale(1.1);
}

.types-title{
    color: seashell;
    font-weight: 700;
font-size: x-large;
font-family: 'Gloria Hallelujah', sans-serif;
text-align: center;
}

#form{
  color: seashell;
  font-weight: 700;
  font-size: x-large;
  font-family: 'Gloria Hallelujah', sans-serif;
}